// ==========================================================================
// Page: Program
// ==========================================================================

// Shadows
.c-program__hero-img,
.program-sessions,
.c-img-stack__img,
.img-stack--card-dark {
	box-shadow: $defaultShadow;
}

// --- Fixes --- //

// Align sessions button
.program-sessions {
	.c-btn {
		align-self: left;
	}
}

// Correct hero P colour
.programs-hero__inner {
	.p-large {
		color: $white;
	}
}
